@using BlazorTodos.Shared
@using BlazorTodos.Server.Data
@using BlazorTodos.Client.Components
@inject HttpClient Http
@inject IJSRuntime JsRuntime

@if (Todos != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Category</th>
                <th>Done?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Todos)
            {
                <tr>
                    <td>@todo?.Description</td>
                    <td>@todo?.Category</td>
                    <td>
                        @(todo?.Complete == true ? "Yes" : "No")
                    </td>
                    <td>
                        <a href="javascript: void(0);" @onclick="(() => deleteTodo(todo.Id))"><i class="far fa-trash-alt"></i></a> |
                        <a href="javascript: void(0);" @onclick="(() => flipComplete(todo.Id))"><i class="fas fa-check"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>No Todoes to show!</div>
}


@code {

    [Parameter]
    public TodoViewModel[] Todos { get; set; }

    [Parameter]
    public EventCallback<string> OnListChanged { get; set; }

    async Task deleteTodo(int id)
    {
        if (id > 0)
        {
            bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
            if (confirmed)
            {
                await Http.DeleteAsync("/api/todoes/" + id);
                await OnListChanged.InvokeAsync("Todo is deleted.");
            }
        }

    }

    async Task flipComplete(int id)
    {
        if (id > 0)
        {

            HttpContent httpContent = new StringContent(id.ToString());
            await Http.PutAsync("/api/todoes/" + id, httpContent);
            await OnListChanged.InvokeAsync("Todo complete state is changed.");
        }

    }

}
